@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Square Root Logic</h1>
</div>


<div>

    <div class="text-center"  >
        <form asp-controller="Cal" asp-action="Add" method="POST">

        <input type="number" placeholder="First Number" name="firstNumber" />
        <input type="number" placeholder="Second Number" name="secondNumber" />
        <button type="submit" > Submit</button>

        </form>

</div>

<div class="text-center">
@{
    try
    {

     if(ViewBag.No1 != null && ViewBag.No2 != null)
     {
         if(ViewBag.isConverted1 && ViewBag.isConverted2)
         {
             if(ViewBag.No1 <= 0 && ViewBag.No2 <= 0)
             {
                 <h4 class="display-7"> Error! This is not a valid input. It's a negative number<br> Try Again</h4>
             }
             else if(ViewBag.No1 > ViewBag.No2)
             {
                 <h4 class="display-7">The number @ViewBag.No1 with square root @ViewBag.SQNo1<br> has the highest sqaure root value than @ViewBag.No2 with the square root value of @ViewBag.SQNo2 </h4>
             }
             else if(ViewBag.No2 > ViewBag.No1)
             {
                 <h4 class="display-7"> The number @ViewBag.No2 with square root @ViewBag.SQNo2 has a higher <br>
                 square root than the number @ViewBag.No1 with square root @ViewBag.SQNo1</h4>
             }
             else{
                 <h4 class="display-7">These values are equal. Please enter another number</h4>
                 }
            }
        }
    }
    catch(System.Exception)
    {
        <h4 class="display-7">These values are exception. Please try again</h4>
    }
}

   
